[Unit]
Description=fiber_pointing_server_pointing

[Service]
User=tcsuser
StandardOutput=journal+console

# Note: setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
# See https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED
Environment=PYTHONUNBUFFERED=true

# Adjust this line to the correct path to test.py
ExecStart=/usr/bin/python3 /opt/fiber_pointing_server/bin/fiber_pointing_server.py -n pointing

# Note that we use Type=notify here since example.py will send "READY=1"
# when it's finished starting up
Type=notify
NotifyAccess=all

WatchdogSec=300
RestartSec=5
Restart=always
