[Unit]
Description=quido_client_platospec

[Service]
User=tcsuser
StandardOutput=null

# Note: setting PYTHONUNBUFFERED is necessary to see the output of this service in the journal
# See https://docs.python.org/2/using/cmdline.html#envvar-PYTHONUNBUFFERED
Environment=PYTHONUNBUFFERED=true

ExecStart=/usr/bin/python3 /opt/platospec/bin/quido_client.py -d

# Note that we use Type=notify here since example.py will send "READY=1"
# when it's finished starting up
Type=notify
NotifyAccess=all

WatchdogSec=300
RestartSec=5
Restart=always
