[exposed]
## tohoto uzivatele hleda v /etc/passwd a pokud existuje nastavi jeho uid, gid u
## vystupnich FITs souboru
user = tcsuser
password = heslo
instrument = CCD400
ip = 0.0.0.0
port = 5000
archive = true
archive_script = /opt/exposed/bin/archive-frodo.sh
instrument_prefix = b
file_pid = /opt/exposed/run/exposed-frodo.pid

[modules]
ccd = /opt/exposed/modules/mod_ccd_frodo.so

[paths]
output = /data/CCD400.RAW/INCOMING;/data/CCD400.RAW/INCOMING/TECH;/tmp
archive =

[commands_begin]
flat = /opt/peso-1.95.2/bin/coude_client --flat 1
comp = /opt/peso-1.95.2/bin/coude_client --comp 1
target = true

[commands_end]
flat = /opt/peso-1.95.2/bin/coude_client --flat 0
comp = /opt/peso-1.95.2/bin/coude_client --comp 0
target = true

[ccd]
temp = -150
readout_time = 15
bits_per_pixel = 16

x1 = 1
x2 = 2720
xb = 1
y1 = 1
y2 = 512
yb = 1

[ccd_frodo]
tim_file = /opt/astro-cam/tim_slow.lod
util_file = /opt/astro-cam/util.lod

num_pci_tests = 1055
num_tim_tests = 1055
num_util_tests = 10

[allow_ips]
localhost = 127.0.0.1
sulafat = 192.168.193.193
alhena = 192.168.193.195
primula = 192.168.193.194

[header]
ORIGIN = PESO
OBSERVAT = ONDREJOV
LATITUDE = 49.910555
LONGITUD = 14.783611
HEIGHT = 528
TELESCOP = ZEISS-2m
TELSYST = COUDE
BUNIT = ADU
PREFLASH = 0
DISPAXIS = 1
SLITTYPE = BLADE
AUTOGUID = NO
SLITWID = 0.2
CCDXSIZE = 2720
CCDYSIZE = 512
CCDXPIXE = 15.0
CCDYPIXE = 15.0
INSTRUME = COUDE400
DETECTOR = ARC
CHIPID = STA0520A
GRATNAME = 3
COMPLAMP= ThAr-BS/15mA
FLATTYPE= PROJECT
