<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>Observe</display-name>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Observe</web-resource-name>
            <description></description>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Have to be a USER</description>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <!--<auth-method>DIGEST</auth-method>-->
        <auth-method>BASIC</auth-method>
        <realm-name>Observe authentification</realm-name>
    </login-config>

    <security-role>
        <description/>
        <role-name>read</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>control</role-name>
    </security-role>

    <security-role>
        <description/>
        <role-name>admin</role-name>
    </security-role>

    <context-param>
       <param-name>observe.log.filename</param-name> 
       <param-value>/tmp/observe-server.log</param-value> 
    </context-param>

    <context-param> 
        <param-name>freemarker.template.path</param-name> 
        <param-value>/WEB-INF/templates</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.telescope.host</param-name> 
        <param-value>127.0.0.1</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.telescope.port</param-name> 
        <param-value>9999</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.spectrograph.host</param-name> 
        <param-value>127.0.0.1</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.spectrograph.port</param-name> 
        <param-value>8888</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.oes.host</param-name> 
        <param-value>almisan</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.oes.port</param-name> 
        <param-value>5001</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.ccd400.host</param-name> 
        <param-value>primula</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.ccd400.port</param-name> 
        <param-value>5000</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.ccd700.host</param-name> 
        <param-value>almisan</param-value> 
    </context-param>

    <context-param> 
        <param-name>observe.xmlrpc.ccd700.port</param-name> 
        <param-value>5002</param-value> 
    </context-param>

    <servlet>
        <servlet-name>observe</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>com.sun.jersey.config.feature.Trace</param-name>
            <param-value>true</param-value>
        </init-param>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>cz.cas.asu.stelweb.fuky.observe.server.resources</param-value>
        </init-param>

<!--
        <init-param> 
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name> 
            <param-value>cz.cas.asu.stelweb.fuky.observe.auth.SecurityFilter</param-value> 
        </init-param>

        <init-param> 
            <param-name>com.sun.jersey.spi.container.filter.ResourceFilterFactory</param-name> 
            <param-value>com.sun.jersey.api.container.filter.RolesAllowedResourceFilterFactory</param-value> 
        </init-param>
-->

<!--
        <init-param> 
            <param-name>com.sun.jersey.config.property.resourceConfigClass</param-name> 
            <param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value> 
        </init-param>
-->

        <init-param> 
            <param-name>observe.log.name</param-name> 
            <param-value>observe-server</param-value> 
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>observe</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>   
        <servlet-name>default</servlet-name>
        <url-pattern>/css/default.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>   
        <servlet-name>default</servlet-name>
        <url-pattern>/setup/*</url-pattern>
    </servlet-mapping>

</web-app>
